/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*global settings*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
::before,
::after{
 box-sizing: border-box;
}
:root{
    --main-color:#e02f6b;
    --blue: #0000ff;
    --blue-dark:#18293c;
    --orange:#ffa500;
    --green-yellow:#cddc39;
    --pink-light:#efa2b4;
    --cyan-light:#aef1ee;
    --white:#ffffff;
    --white-alpha-40:rgba(255,255,255,0.40);
    --white-alpha-25:rgba(255,255,255,0.25);
    --backdrop-filter-blur: blur(5px) ;
}
body{
    min-height:100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light),var(--cyan-light));
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    padding:35px 15px;
    -webkit-tap-hightlight-color:tranparent;
}
body::before{
    content:'';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:var(--green-yellow) ;
    z-index:-1;
    opacity: 0.12;
}
a{
    text-decoration: none;
}
h1,h2{
    font-weight: 600;
}
h3,h4,h5,h6{
    font-weight: 500;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
section{
    background-color: var(--white-alpha-25);
    border:1px solid var(--white-alpha-25) ;
    min-height: calc(100vh - 70px);
    border-radius:30px;
    backdrop-filter:var(--backdrop-filter-blur);
    display: none;
}
section.active{
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}
section.fade-out{
  animation: fadeOut 0.5s ease-in-out forwards;
}
@keyframes fadeOut {
   0%{
       opacity: 1;
   }
    100%{
        opacity: 0;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.main{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.container{
    width: 100%;
    padding: 0 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items:center;
}
/*custom scrollbar*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.hide-scrolling{
    overflow-y: hidden;
}
/*buttons*/
.btn{
    line-height:1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color:var(--main-color) ;
    z-index:-1;
    transition: width 0.3s ease;
}
.btn:hover:before{
    width: 100%;
}
.btn:hover{
    color: var(--white);
}
/*header*/
.flex-end{
    justify-content: flex-end;
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0;
}
/*.header .active{*/
/*    position: fixed;*/
/*    top: 35px;*/
/*    padding: 20px 15px;*/
/*}*/
/*.header .active .container{*/
/*    max-width: 1200px;*/
/*    margin: auto;*/
/*}*/
.header .nav-toggler{
    width: 50px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
}
.header .nav-toggler span{
  height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}
.header.active .nav-toggler span{
    background-color: transparent;

}
.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.3s ease;
}
.header .nav-toggler span::before{
    left: 0;
    transform: translateY(-8px);
}
.header.active .nav-toggler span::before{
    transform: rotate(45deg);
}
.header .nav-toggler span::after{
    right: 0;
    transform: translateY(8px);
}
.header.active .nav-toggler span::after{
    transform: rotate(-45deg);
}
.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after{
    width: 50%;
}
.header .nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    visibility: hidden;
    overflow-y:auto ;
}
.header.active .nav{
    visibility: visible;
}
.header .nav-inner{
    min-height: calc(100vh - 70vh);
    max-width: 1200px;
    margin: auto;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*opacity: 0;*/
    transition: all 0.5s ease;
}
.header.active.nav-inner {
    opacity: 1;
}
.header .nav-inner ul li{
    text-align: center;
    list-style: none;
}
.header .nav-inner ul li a{
    font-size: 40px;
    text-transform: capitalize;
    color: var(--blue-dark);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;
    position: relative;
}
.header .nav-inner ul li a::before{
    content:'';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 0%;
    background-color: var(--white-alpha-25);
    z-index: -1;
    transition: width 0.5s ease;
}
.header .nav-inner ul li a:hover::before{
    width: 100%;
}
.header .nav-inner ul li a:hover{
    color: var(--main-color);
}
/*home Section*/
.home-section{
    /*display: flex;*/
    padding: 120px 0;
}
.home-section .active{
display: flex;
}
.home-img,.home-text{
    padding: 15px;
    width:50%;
}
.home-text p{
  font-size:18px ;
}
.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.home-text h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}
.home-text .btn{
    margin: 0 15px 15px 0;
}
.home-img,.img-box{
   max-width: 360px;
    background-color: var(--white-alpha-25);
    border: 8px solid var(--white-alpha-25);
    border-radius: 50%;
    margin: auto;
}
.home-img,.img-box img{
    width: 100%;
    border-radius: 50%;
}

/*.bg-holder{*/
/*    background-image: url("images/lum3n--RBuQ2PK_L8-unsplash.jpg");*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

